html, body {
    font-size: 1.4vw;
    margin: auto;
    background: #fefefe;
}

body {
    height: auto; /*if more info comes on the page, it will stretch down*/
    width: auto;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	line-height: 1.4;
	text-align: justify;
}

div {
    height: auto; /*if more info comes on the page, it will stretch down*/
    width: auto;
    margin: 0 auto; /*this will cause the div to be in the center*/
}

.main {
	margin-left: 25%; /* Same as the width of the sidenav */
}

.section{
	padding: 0.5em 1.2em 0.5em 1em; /* top right bottom left */
}
h1 {
	margin-top: 0.3em;
    font-family: "PT Sans", sans-serif;
	font-weight: normal;
    font-size:2.5em;
}

h2 {
	margin-top: 0.2em;
    font-family: "PT Sans", sans-serif;
	margin-bottom: 0.4em;
    font-size: 1.7em;
}

h3 {
	font-weight: normal;
	margin-top: 0.1em;
	margin-bottom: 0.2em;
    font-size: 1.1em;
}

h1, 
h2, 
h3{
	text-align: left;
    margin-left: 0.3em;
}

ul {
	list-style: square;
	padding-left: 3.2em;
}

.main .twocol{
    list-style-position: inside;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
ol {
	padding-left: 1.2em;
}
blockquote {
	margin-left: 1em;
	padding-left: 1em;
	border-left: 1px solid #ddd;
}
a {
	color: #374b30;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: none;
}

hr {
	color: #ddd;
	height: 1px;
	border-top: solid 1px #ddd;
	border-bottom: none;
	border-left: 0;
	border-right: 0;
}
em{
    color: #6A6A6A;
    text-decoration: none;
}

.darker{
	background-color: #efefef;
}

.main p {
    padding-top: 1em;
    padding-left: 1em;
}



/*----Images and icons----------------------------------------------- */
.avatar {
    display: block;
    margin: 0 auto;
	width: 12em;
	height: 12em;
    border-radius: 50%;
}

.sidebar .fa {
    font-size: 1.3em;
    padding: 0.4em 10em 10em 0;
    color:#cecece
}

.sidebar .glyphycon{
	padding: 0;
}

.main .glyphicon{
    font-size: 1.1em;
    padding: 0.02em 0 0 0.8em;
    color: #171717;
}
/*----Side navigation bar----------------------------------------------- */

.sidebar {
	height: 100%; /* 100% Full-height */
	width: 25%; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #171717;
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidebar h1 {
    font-size: 2.3em;
    text-align: center;
    /*text-shadow: 0.04em 0.04em 0.1em #77755c;*/
    color: #e9e9e9;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
}

.sidebar p{
	color: #dddddd;
	text-align: center;
    font-size: 1em;
	padding: 0.05em 0.05em;
}

.sidebar .contacts
{
	text-align: left;
	font-size: 0.85em;
    padding-left: 0.8em;
}
.sidebar .contacts-header{
    padding-left: 0.2em;
}
.sidebar ul {
	list-style: none;
	padding-left: 0;
}

.sidebar li {
	padding: 0.01em 0.1em 0 1.9em;
	text-decoration: none;
	font-size: 1.2em;
	color: #94908e;
	display: block;
}

.sidebar a {
	color: #94908e;
	transition: 0.3s;
	display: inline-block;
}

.sidebar .top_menu a {
    padding-left: 0.2em;
    padding-right: 0.2em;
}
/*!* Position and style the close button (top right corner) *!*/
/*.sidebar .closebtn {*/
	/*position: absolute;*/
	/*top: 0;*/
	/*right: 25px;*/
	/*font-size: 36px;*/
	/*margin-left: 50px;*/
/*}*/

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/*#main {*/
	/*transition: margin-left .5s;*/
	/*padding: 20px;*/
/*}*/

/*!* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) *!*/
/*@media screen and (max-height: 450px) {*/
	/*.sidebar {padding-top: 15px;}*/
	/*.sidebar a {font-size: 18px;}*/
/*}*/
